/* General Navbar Styling */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  color: white;
}

/* Navbar Icons Container */
.navbar-icons {
  display: flex;
}

/* Icon Style */
.navbar-icon {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
}

.icon-text {
  margin-left: 8px;
  font-size: 16px;
  color: white;
}
